html,
#root,
#root > div {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:rgb(68,149,204);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}